<% provide(:title, "ログイン") %>
  <%= form_for(:session, url: login_path) do |f| %>
<body>
  <!-- Skippy -->
  <a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
    <div class="container">
      <span class="u-skiplink-text">Skip to main content</span>
    </div>
  </a>
  <!-- End Skippy -->

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Form -->
    <div class="d-flex align-items-center position-relative height-60vh">
      <!-- Navbar -->
      <header class="position-absolute-top-0 z-index-2">
        <nav class="d-flex justify-content-between align-items-center">
        </nav>
      </header>
      <!-- End Navbar -->
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-8 col-lg-8 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 u-space-3 u-space-0--lg">
            <!-- Form -->
            <form class="js-validate mt-5">
              <!-- Title -->
              <div class="mb-7">
                <h2 class="h3 text-primary font-weight-normal mb-0"><span class="font-weight-bold">Login</span></h2>
              </div>
              <!-- End Title -->

              <!-- Input -->
              <div class="js-form-message mb-4">
                <%= f.label :email, "メールアドレス", class:"h6 small d-block text-uppercase" %>
                <div class="js-focus-state input-group u-form">
                  <%= f.email_field :email, class:"form-control u-form__input" %>
                </div>
              </div>
              <!-- End Input -->

              <!-- Input -->
              <div class="js-form-message mb-4">
                <div class="d-flex justify-content-between align-items-center">
                  <%= f.label :password, "パスワード", class:"h6 small d-block text-uppercase" %>
                  <div class="mb-2">
                    <%= link_to "パスワードを忘れた方はこちら", new_password_reset_path %>
                  </div>
                </div>

                <div class="js-focus-state input-group u-form">
                  <%= f.password_field :password, class:"form-control u-form__input" %>
                </div>

                  <%= f.label :remember_me do %>
                    <%= f.check_box :remember_me %>
                    <span>ログイン情報を記憶する</span>
                  <% end %>
              </div>
              <!-- End Input -->

              <!-- Button -->
              <div class="row align-items-center mb-5">
                <div class="col-6">
                  <%= link_to "アカウントをお持ちでない方はこちら", signup_path, class:"small" %>
                </div>

                <div class="col-6 text-right">
                  <%= f.submit "ログイン", class:"btn btn-primary u-btn-primary transition-3d-hover" %>
                  <% end %>
                </div>
              </div>
              <!-- End Button -->
            </form>
            <!-- End Form -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Form -->
  </main>
  <!-- ========== END MAIN ========== -->
</body>
</html>
