<% provide(:title, "アカウント設定") %>
  <body>
    <!-- Skippy -->
    <a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
      <div class="container">
        <span class="u-skiplink-text">Skip to main content</span>
      </div>
    </a>
    <!-- End Skippy -->

    <!-- ========== MAIN ========== -->
    <main id="content" role="main">
      <!-- Breadcrumb Section -->
      <div class="bg-primary">
        <div class="container u-space-1">
          <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
            <div class="mb-3 mb-sm-0">
              <!-- Breadcrumb -->
              <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="../home/index.html">Home</a></li>
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="dashboard.html">Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
              </ol>
              <!-- End Breadcrumb -->
            </div>

            <!-- Edit Profile -->
            <div class="btn btn-sm u-btn-white--air transition-3d-hover">
              <%= link_to "プロフィール編集", edit_user_path(current_user), class:"fa fa-user-cog font-size-13 mr-2" %>
            </div>
            <!-- End Edit Profile -->
          </div>

        </div>
      </div>
      <!-- End Breadcrumb Section -->

      <!-- Content Section -->
      <div class="u-bg-light-blue-50">
        <div class="container u-space-2">
          <div class="row">
            <div class="col-lg-3 mb-7 mb-lg-0">
              <!-- Profile Card -->
              <div class="card p-1 mb-4">
                <div class="card-body text-center">
                  <div class="mb-3">
                    <% if @user.user_image.blank? %>
                      <img src="/default.jpg" class="mh-250px">
                    <% else %>
                      <%= image_tag @user.user_image.url, class:"img-fluid rounded mh-250px",style:""%>
                    <% end %>
                  </div>
                </div>
              </div>
              <!-- End Profile Card -->

              <!-- Contacts  -->
              <div class="card p-1 mb-4">
                <div class="card-body">
                  <h4 class="h6 mb-0"><span class="fa fa-users min-width-6 text-center text-secondary mr-2"></span>支援・寄附・購入</h4>
                  <hr>
                  <!-- User -->
                  <a class="d-flex align-items-start mb-4 mt-4" href="#">
                    <div class="ml-2">
                      <p class="d-block text-dark font-size-13">支援・寄附したプロジェクト<span class="fa fa-angle-right pl-3" style=""></span></p>
                    </div>
                  </a>
                  <!-- End User -->

                  <!-- User -->
                  <a class="d-flex align-items-start mb-4" href="#">
                    <div class="ml-2">
                      <p class="d-block text-dark font-size-13">購入履歴（ストア）<span class="fa fa-angle-right pl-9" style=""></span></p>
                    </div>
                  </a>
                  <!-- End User -->

                  <!-- User -->
                  <a class="d-flex align-items-start" href="#">
                    <div class="ml-2">
                      <p class="d-block text-dark font-size-13">メッセージ<span class="fa fa-angle-right pl-9 ml-8" style=""></span></p>
                    </div>
                  </a>
                  <!-- End User -->
                </div>
              </div>
              <!-- End Contacts  -->


              <!-- Social Profiles -->
              <div class="card p-1 mb-4">
                <div class="card-body">
                  <h4 class="h6 mb-0">アカウント情報</h4>

                  <hr>

                  <!-- Social Profiles -->
                  <a class="d-flex mb-4" href="#">
                    <div>
                      <p class="d-block text-dark">プロフィール編集<span class="fa fa-angle-right pl-7" style=""></span></p>
                    </div>
                  </a>
                  <!-- End Social Profiles -->

                  <!-- Social Profiles -->
                  <a class="d-flex mb-4" href="#">
                    <div>
                      <p class="d-block text-dark">メール通知設定<span class="fa fa-angle-right pl-9" style=""></span></p>
                    </div>
                  </a>
                  <!-- End Social Profiles -->
                </div>
              </div>
              <!-- End Social Profiles -->
            </div>

            <div class="col-lg-9">
              <!-- User Details -->
              <div class="mb-4">
                <h2 class="h4"><%= @user.user_name %><span class="badge badge-success ml-1">Pro</span></h2>
                <%= @user.email %>
                <!--
                <h4 class="h6 text-secondary mb-0">London, UK <small>- Joined in July 2017</small></h4>
              -->
              </div>
              <!-- End User Details -->

              <hr class="my-7">

              <div class="row justify-content-between align-items-center mb-4">
                <!-- Title -->
                <div id="reviews" class="mb-3 ml-4">
                  <h3 class="h4 mb-0">プロフィール編集<span class="text-muted font-size-14"></span></h3>
                </div>
                <!-- End Title -->
              </div>


            <%= form_for(@user, url: user_path, method: "patch") do |f| %>
            <%= render 'shared/error_messages', model: @user %>
              <div class="container u-space-2">
                <div class="row">
                  <table border="1"　class="w-80" style="margin:0 10%;">
                    <tr>
                      <td class="u-bg-light-blue-50 text-center p-3">ユーザー名</td>
                      <td class="p-3">
                        <%= f.text_field :user_name, class:"form-control u-form__input" %>
                      </td>
                    </tr>
                    <tr>
                      <td class="u-bg-light-blue-50 text-center p-3">プロフィール画像</td>
                        <td class="p-3">
                          <%= f.file_field :user_image, accept: "image/jpg, image/jpeg, image/gif, image/png", class:"form-control u-form__input" %>
                        </td>
                    </tr>
                    <tr>
                      <td class="u-bg-light-blue-50 text-center p-3">メールアドレス<span class="bg-danger text-white ml-3 font-size-13 p-1 ">必須</span></td>
                        <td class="p-3">
                          <%= f.email_field :email, class:"form-control u-form__input" %>
                      </td>
                    </tr>
                    <tr>
                      <td class="u-bg-light-blue-50 text-center p-3">パスワード<span class="bg-danger text-white ml-3 font-size-13 p-1 ">必須</span></td>
                        <td class="p-3">
                          <%= f.password_field :password, class:"form-control u-form__input" %>
                      </td>
                    </tr>
                    <tr>
                      <td class="u-bg-light-blue-50 text-center p-3">パスワード(確認)<span class="bg-danger text-white ml-3 font-size-13 p-1 ">必須</span></td>
                        <td class="p-3">
                          <%= f.password_field :password_confirmation, class:"form-control u-form__input" %>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

              <!-- Buttons -->
              <div class="text-center">
                <%= f.submit "変更", class:"btn btn-sm btn-primary u-btn-primary transition-3d-hover" %>
                <button type="submit" class="btn btn-sm u-btn-secondary--air transition-3d-hover">Cancel</button>
              </div>
            <% end %>
            <!-- End Buttons -->

              <hr class="my-7">

              <a class="btn btn-block u-btn-warning--air transition-3d-hover" href="#">商品を探す</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content Section -->
    </main>
    <!-- ========== END MAIN ========== -->

  </body>
  </html>
