<% provide(:title, "結婚式のクラウドファンディング - Cultiate") %>
<body>
  <!-- Skippy -->
  <a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
    <div class="container">
      <span class="u-skiplink-text">Skip to main content</span>
    </div>
  </a>
  <!-- End Skippy -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- firstview Section -->
    <div class="firstview d-flex align-items-center position-relative u-bg-gradient-v1 u-space-4-top u-space-5-top--md u-space-0--lg min-height-100vh--lg">
      <!-- projects -->
      <div class="container">
        <div class="row">
          <h2 class="mb-5 pl-5">testing<br>testing<br>testing</h2>
        </div>
      </div>
      <!-- END projects -->

    </div>
    <!-- End firstview Section -->
        <br>
        <div class="row justify-content-between align-items-center mb-4">
          <!-- Title -->
          <div class="col-sm-4 col-md-6 mb-3 mb-sm-0">
            <h2 class="h6 mb-0">❤️ イチオシプロジェクト</h2>
          </div>
          <!-- End Title -->
        </div>

        <% @projects.first(3).each do |project| %>
          <% @celebraters = Celebrater.where(project_id: project.id)  %>
          <% @total_celebraters_price = @celebraters.sum(:return_price) %>
          <% @celebraters_count = @celebraters.count %>
        <div class="mb-7">
          <div class="card-deck d-block d-md-flex">

            <!-- Projects -->
            <div class="card mb-5">
              <div class="card-body p-2">
                <div class="text-center">
                  <%= image_tag project.main_image.url, class:"img-fluid rounded pr-8" ,style:"" %>
                  <!-- Title -->
                  <div class="mb-4">
                    <h3 class="h5 mb-1"><%= project.title %></h3>
                  </div>
                  <!-- End Title -->

                  <!-- List of Icons -->
                  <div class="row justify-content-between align-items-center mb-3">
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        <%= project.user_name %>
                      </a>
                    </div>
                  </div>
                  <!-- End List of Icons -->
                  <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
                    <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
                  </div>
                </div>
              </div>

              <div class="card-footer text-center">
                <!-- Budget & Priority -->
                <div class="row align-items-center">
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0" style="font-size:0.6rem;">現在</h5>
                    <!--
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                  -->
                    <span class="text-dark" style="font-size:0.8rem;　font-weight:bold;">￥<%= @total_celebraters_price %>円</span>
                  </div>
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0">お祝いメンバー</h5>
                      <%= @celebraters_count %>人
                  </div>
                    <!-- End Members List -->
                  <div class="col-4">
                    <h5 class="small font-weight-normal text-secondary mb-0">残り</h5>
                    <span class="text-dark" style="　font-weight:bold;">10日</span>
                  </div>
                </div>
                <!-- End Budget & Priority -->
              </div>
            </div>
            <!-- End Projects -->
          </div>
        </div>
        <% end %>

        <div class="row justify-content-between align-items-center mb-4">
          <!-- Title -->
          <div class="col-sm-4 col-md-6 mb-3 mb-sm-0">
            <h2 class="h6 mb-0">🆕 新着プロジェクト</h2>
          </div>
          <!-- End Title -->
        </div>

        <div class="mb-7">
          <div class="card-deck d-block d-md-flex">
            <!-- Projects -->
            <div class="card mb-5">
              <div class="card-body p-2">
                <div class="text-center">
                  <img class="u-mega-avatar rounded-circle mx-auto mb-3" src="/projects_index/160img.jpg" alt="Image Description">
                  <!-- Title -->
                  <div class="mb-4">
                    <h3 class="h5 mb-1">タイトル</h3>
                  </div>
                  <!-- End Title -->

                  <!-- List of Icons -->
                  <div class="row justify-content-between align-items-center mb-3">
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        大草原
                      </a>
                    </div>
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        名前
                      </a>
                    </div>
                  </div>
                  <!-- End List of Icons -->
                  <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
                    <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
                  </div>
                </div>
              </div>

              <div class="card-footer text-center">
                <!-- Budget & Priority -->
                <div class="row align-items-center">
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0" style="font-size:0.6rem;">現在</h5>
                    <!--
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                  -->
                    <span class="text-dark" style="font-size:0.8rem;　font-weight:bold;">￥100,000円</span>
                  </div>
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0">メンバー</h5>
                    <!-- Members List -->
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0">
                        <a class="u-icon u-icon-light u-icon--sm rounded-circle" href="#">
                          <span class="u-icon__inner" style="font-size:0.6rem;　font-weight:bold;">+300</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                    <!-- End Members List -->
                  <div class="col-4">
                    <h5 class="small font-weight-normal text-secondary mb-0">残り</h5>
                    <span class="text-dark" style="　font-weight:bold;">10日</span>
                  </div>
                </div>
                <!-- End Budget & Priority -->
              </div>
            </div>
            <!-- End Projects -->

            <!-- Projects -->
            <div class="card mb-5">
              <div class="card-body p-2">
                <div class="text-center">
                  <img class="u-mega-avatar rounded-circle mx-auto mb-3" src="/projects_index/160img.jpg" alt="Image Description">
                  <!-- Title -->
                  <div class="mb-4">
                    <h3 class="h5 mb-1">タイトル</h3>
                  </div>
                  <!-- End Title -->

                  <!-- List of Icons -->
                  <div class="row justify-content-between align-items-center mb-3">
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        大草原
                      </a>
                    </div>
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        名前
                      </a>
                    </div>
                  </div>
                  <!-- End List of Icons -->
                  <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
                    <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
                  </div>
                </div>
              </div>

              <div class="card-footer text-center">
                <!-- Budget & Priority -->
                <div class="row align-items-center">
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0" style="font-size:0.6rem;">現在</h5>
                    <!--
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                  -->
                    <span class="text-dark" style="font-size:0.8rem;　font-weight:bold;">￥100,000円</span>
                  </div>
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0">メンバー</h5>
                    <!-- Members List -->
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0">
                        <a class="u-icon u-icon-light u-icon--sm rounded-circle" href="#">
                          <span class="u-icon__inner" style="font-size:0.6rem;　font-weight:bold;">+300</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                    <!-- End Members List -->
                  <div class="col-4">
                    <h5 class="small font-weight-normal text-secondary mb-0">残り</h5>
                    <span class="text-dark" style="　font-weight:bold;">10日</span>
                  </div>
                </div>
                <!-- End Budget & Priority -->
              </div>
            </div>
            <!-- End Projects -->

            <!-- Projects -->
            <div class="card mb-5">
              <div class="card-body p-2">
                <div class="text-center">
                  <img class="u-mega-avatar rounded-circle mx-auto mb-3" src="/projects_index/160img.jpg" alt="Image Description">
                  <!-- Title -->
                  <div class="mb-4">
                    <h3 class="h5 mb-1">タイトル</h3>
                  </div>
                  <!-- End Title -->

                  <!-- List of Icons -->
                  <div class="row justify-content-between align-items-center mb-3">
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        大草原
                      </a>
                    </div>
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        名前
                      </a>
                    </div>
                  </div>
                  <!-- End List of Icons -->
                  <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
                    <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
                  </div>
                </div>
              </div>

              <div class="card-footer text-center">
                <!-- Budget & Priority -->
                <div class="row align-items-center">
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0" style="font-size:0.6rem;">現在</h5>
                    <!--
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                  -->
                    <span class="text-dark" style="font-size:0.8rem;　font-weight:bold;">￥100,000円</span>
                  </div>
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0">メンバー</h5>
                    <!-- Members List -->
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0">
                        <a class="u-icon u-icon-light u-icon--sm rounded-circle" href="#">
                          <span class="u-icon__inner" style="font-size:0.6rem;　font-weight:bold;">+300</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                    <!-- End Members List -->
                  <div class="col-4">
                    <h5 class="small font-weight-normal text-secondary mb-0">残り</h5>
                    <span class="text-dark" style="　font-weight:bold;">10日</span>
                  </div>
                </div>
                <!-- End Budget & Priority -->
              </div>
            </div>
            <!-- End Projects -->
          </div>
        </div>

        <div class="row justify-content-between align-items-center mb-4">
          <!-- Title -->
          <div class="col-sm-4 col-md-6 mb-3 mb-sm-0">
            <h2 class="h6 mb-0">⤴︎ 人気急上昇中のプロジェクト</h2>
          </div>
          <!-- End Title -->
        </div>

        <div class="mb-7">
          <div class="card-deck d-block d-md-flex">
            <!-- Projects -->
            <div class="card mb-5">
              <div class="card-body p-2">
                <div class="text-center">
                  <img class="u-mega-avatar rounded-circle mx-auto mb-3" src="/projects_index/160img.jpg" alt="Image Description">
                  <!-- Title -->
                  <div class="mb-4">
                    <h3 class="h5 mb-1">タイトル</h3>
                  </div>
                  <!-- End Title -->

                  <!-- List of Icons -->
                  <div class="row justify-content-between align-items-center mb-3">
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        大草原
                      </a>
                    </div>
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        名前
                      </a>
                    </div>
                  </div>
                  <!-- End List of Icons -->
                  <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
                    <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
                  </div>
                </div>
              </div>

              <div class="card-footer text-center">
                <!-- Budget & Priority -->
                <div class="row align-items-center">
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0" style="font-size:0.6rem;">現在</h5>
                    <!--
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                  -->
                    <span class="text-dark" style="font-size:0.8rem;　font-weight:bold;">￥100,000円</span>
                  </div>
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0">メンバー</h5>
                    <!-- Members List -->
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0">
                        <a class="u-icon u-icon-light u-icon--sm rounded-circle" href="#">
                          <span class="u-icon__inner" style="font-size:0.6rem;　font-weight:bold;">+300</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                    <!-- End Members List -->
                  <div class="col-4">
                    <h5 class="small font-weight-normal text-secondary mb-0">残り</h5>
                    <span class="text-dark" style="　font-weight:bold;">10日</span>
                  </div>
                </div>
                <!-- End Budget & Priority -->
              </div>
            </div>
            <!-- End Projects -->

            <!-- Projects -->
            <div class="card mb-5">
              <div class="card-body p-2">
                <div class="text-center">
                  <img class="u-mega-avatar rounded-circle mx-auto mb-3" src="/projects_index/160img.jpg" alt="Image Description">
                  <!-- Title -->
                  <div class="mb-4">
                    <h3 class="h5 mb-1">タイトル</h3>
                  </div>
                  <!-- End Title -->

                  <!-- List of Icons -->
                  <div class="row justify-content-between align-items-center mb-3">
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        大草原
                      </a>
                    </div>
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        名前
                      </a>
                    </div>
                  </div>
                  <!-- End List of Icons -->
                  <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
                    <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
                  </div>
                </div>
              </div>

              <div class="card-footer text-center">
                <!-- Budget & Priority -->
                <div class="row align-items-center">
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0" style="font-size:0.6rem;">現在</h5>
                    <!--
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                  -->
                    <span class="text-dark" style="font-size:0.8rem;　font-weight:bold;">￥100,000円</span>
                  </div>
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0">メンバー</h5>
                    <!-- Members List -->
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0">
                        <a class="u-icon u-icon-light u-icon--sm rounded-circle" href="#">
                          <span class="u-icon__inner" style="font-size:0.6rem;　font-weight:bold;">+300</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                    <!-- End Members List -->
                  <div class="col-4">
                    <h5 class="small font-weight-normal text-secondary mb-0">残り</h5>
                    <span class="text-dark" style="　font-weight:bold;">10日</span>
                  </div>
                </div>
                <!-- End Budget & Priority -->
              </div>
            </div>
            <!-- End Projects -->

            <!-- Projects -->
            <div class="card mb-5">
              <div class="card-body p-2">
                <div class="text-center">
                  <img class="u-mega-avatar rounded-circle mx-auto mb-3" src="/projects_index/160img.jpg" alt="Image Description">
                  <!-- Title -->
                  <div class="mb-4">
                    <h3 class="h5 mb-1">タイトル</h3>
                  </div>
                  <!-- End Title -->

                  <!-- List of Icons -->
                  <div class="row justify-content-between align-items-center mb-3">
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        大草原
                      </a>
                    </div>
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        名前
                      </a>
                    </div>
                  </div>
                  <!-- End List of Icons -->
                  <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
                    <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
                  </div>
                </div>
              </div>

              <div class="card-footer text-center">
                <!-- Budget & Priority -->
                <div class="row align-items-center">
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0" style="font-size:0.6rem;">現在</h5>
                    <!--
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                  -->
                    <span class="text-dark" style="font-size:0.8rem;　font-weight:bold;">￥100,000円</span>
                  </div>
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0">メンバー</h5>
                    <!-- Members List -->
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0">
                        <a class="u-icon u-icon-light u-icon--sm rounded-circle" href="#">
                          <span class="u-icon__inner" style="font-size:0.6rem;　font-weight:bold;">+300</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                    <!-- End Members List -->
                  <div class="col-4">
                    <h5 class="small font-weight-normal text-secondary mb-0">残り</h5>
                    <span class="text-dark" style="　font-weight:bold;">10日</span>
                  </div>
                </div>
                <!-- End Budget & Priority -->
              </div>
            </div>
            <!-- End Projects -->
          </div>
        </div>

        <div class="row justify-content-between align-items-center mb-4">
          <!-- Title -->
          <div class="col-sm-4 col-md-6 mb-3 mb-sm-0">
            <h2 class="h6 mb-0">⚠️ 終了間際のプロジェクト</h2>
          </div>
          <!-- End Title -->
        </div>

        <div class="mb-7">
          <div class="card-deck d-block d-md-flex">
            <!-- Projects -->
            <div class="card mb-5">
              <div class="card-body p-2">
                <div class="text-center">
                  <img class="u-mega-avatar rounded-circle mx-auto mb-3" src="/projects_index/160img.jpg" alt="Image Description">
                  <!-- Title -->
                  <div class="mb-4">
                    <h3 class="h5 mb-1">タイトル</h3>
                  </div>
                  <!-- End Title -->

                  <!-- List of Icons -->
                  <div class="row justify-content-between align-items-center mb-3">
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        大草原
                      </a>
                    </div>
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        名前
                      </a>
                    </div>
                  </div>
                  <!-- End List of Icons -->
                  <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
                    <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
                  </div>
                </div>
              </div>

              <div class="card-footer text-center">
                <!-- Budget & Priority -->
                <div class="row align-items-center">
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0" style="font-size:0.6rem;">現在</h5>
                    <!--
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                  -->
                    <span class="text-dark" style="font-size:0.8rem;　font-weight:bold;">￥100,000円</span>
                  </div>
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0">メンバー</h5>
                    <!-- Members List -->
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0">
                        <a class="u-icon u-icon-light u-icon--sm rounded-circle" href="#">
                          <span class="u-icon__inner" style="font-size:0.6rem;　font-weight:bold;">+300</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                    <!-- End Members List -->
                  <div class="col-4">
                    <h5 class="small font-weight-normal text-secondary mb-0">残り</h5>
                    <span class="text-dark" style="　font-weight:bold;">10日</span>
                  </div>
                </div>
                <!-- End Budget & Priority -->
              </div>
            </div>
            <!-- End Projects -->

            <!-- Projects -->
            <div class="card mb-5">
              <div class="card-body p-2">
                <div class="text-center">
                  <img class="u-mega-avatar rounded-circle mx-auto mb-3" src="/projects_index/160img.jpg" alt="Image Description">
                  <!-- Title -->
                  <div class="mb-4">
                    <h3 class="h5 mb-1">タイトル</h3>
                  </div>
                  <!-- End Title -->

                  <!-- List of Icons -->
                  <div class="row justify-content-between align-items-center mb-3">
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        大草原
                      </a>
                    </div>
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        名前
                      </a>
                    </div>
                  </div>
                  <!-- End List of Icons -->
                  <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
                    <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
                  </div>
                </div>
              </div>

              <div class="card-footer text-center">
                <!-- Budget & Priority -->
                <div class="row align-items-center">
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0" style="font-size:0.6rem;">現在</h5>
                    <!--
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                  -->
                    <span class="text-dark" style="font-size:0.8rem;　font-weight:bold;">￥100,000円</span>
                  </div>
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0">メンバー</h5>
                    <!-- Members List -->
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0">
                        <a class="u-icon u-icon-light u-icon--sm rounded-circle" href="#">
                          <span class="u-icon__inner" style="font-size:0.6rem;　font-weight:bold;">+300</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                    <!-- End Members List -->
                  <div class="col-4">
                    <h5 class="small font-weight-normal text-secondary mb-0">残り</h5>
                    <span class="text-dark" style="　font-weight:bold;">10日</span>
                  </div>
                </div>
                <!-- End Budget & Priority -->
              </div>
            </div>
            <!-- End Projects -->

            <!-- Projects -->
            <div class="card mb-5">
              <div class="card-body p-2">
                <div class="text-center">
                  <img class="u-mega-avatar rounded-circle mx-auto mb-3" src="/projects_index/160img.jpg" alt="Image Description">
                  <!-- Title -->
                  <div class="mb-4">
                    <h3 class="h5 mb-1">タイトル</h3>
                  </div>
                  <!-- End Title -->

                  <!-- List of Icons -->
                  <div class="row justify-content-between align-items-center mb-3">
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        大草原
                      </a>
                    </div>
                    <div class="col-6">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        名前
                      </a>
                    </div>
                  </div>
                  <!-- End List of Icons -->
                  <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
                    <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
                  </div>
                </div>
              </div>

              <div class="card-footer text-center">
                <!-- Budget & Priority -->
                <div class="row align-items-center">
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0" style="font-size:0.6rem;">現在</h5>
                    <!--
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                  -->
                    <span class="text-dark" style="font-size:0.8rem;　font-weight:bold;">￥100,000円</span>
                  </div>
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0">メンバー</h5>
                    <!-- Members List -->
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="/projects_index/32img.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0">
                        <a class="u-icon u-icon-light u-icon--sm rounded-circle" href="#">
                          <span class="u-icon__inner" style="font-size:0.6rem;　font-weight:bold;">+300</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                    <!-- End Members List -->
                  <div class="col-4">
                    <h5 class="small font-weight-normal text-secondary mb-0">残り</h5>
                    <span class="text-dark" style="　font-weight:bold;">10日</span>
                  </div>
                </div>
                <!-- End Budget & Priority -->
              </div>
            </div>
            <!-- End Projects -->
          </div>
        </div>

        <!-- Pagination -->
        <div class="d-flex justify-content-between align-items-center">
          <nav aria-label="Page navigation">
            <ul class="pagination mb-0">
              <li class="page-item ml-0">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
              <li class="page-item"><a class="page-link" href="#">8</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>

          <small class="d-none d-sm-inline-block text-secondary">Showing 9 out of 52</small>
        </div>
        <!-- End Pagination -->
      </div>
    </div>
    <!-- End Content Section -->


  </main>
  <!-- ========== END MAIN CONTENT ========== -->


  <!-- Go to Top -->
  <a class="js-go-to u-go-to" href="#"
    data-position='{"bottom": 15, "right": 15 }'
    data-type="fixed"
    data-offset-top="400"
    data-compensation="#header"
    data-show-effect="slideInUp"
    data-hide-effect="slideOutDown">
    <span class="fa fa-arrow-up u-go-to__inner"></span>
  </a>
  <!-- End Go to Top -->

</body>
</html>
