<% provide(:title, "結婚式のクラウドファンディング - Cultiate") %>
<body>
  <!-- Skippy -->
  <a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
    <div class="container">
      <span class="u-skiplink-text">Skip to main content</span>
    </div>
  </a>
  <!-- End Skippy -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <!-- firstview Section -->
    <div class="firstview d-flex align-items-center position-relative u-bg-gradient-v1 u-space-4-top u-space-5-top--md u-space-0--lg min-height-100vh--lg">
      <!-- projects -->
      <div class="container">
        <div class="row">
          <h2 class="mb-5 pl-5">testing<br>testing<br>testing</h2>
        </div>
      </div>
      <!-- END projects -->

    </div>
    <!-- End firstview Section -->
        <br>
        <div class="row justify-content-between align-items-center mb-4">
          <!-- Title -->
          <div class="col-sm-4 col-md-6 mb-3 mb-sm-0">
            <h2 class="h6 mb-0">❤️ 人気プロジェクト</h2>
          </div>
          <!-- End Title -->
        </div>


        <div class="mb-7">
          <div class="card-deck d-block d-md-flex">
            <% @projects.first(3).each do |project| %>
              <% @celebraters = Celebrater.where(project_id: project.id)  %>
              <% @total_celebraters_price = @celebraters.sum(:return_price) %>
              <% @celebraters_count = @celebraters.count %>

            <!-- Projects -->
            <div class="card mb-5">
              <div class="card-body p-2">
                <div class="text-center">
                  <%= image_tag project.main_image.url, class:"img-fluid rounded" ,style:"" %>
                  <!-- Title -->
                  <div class="mb-4">
                    <h3 class="h5 mb-1"><%= project.title %></h3>
                  </div>
                  <!-- End Title -->

                  <!-- List of Icons -->
                  <div class="row justify-content-between align-items-center mb-3">
                    <div class="col-6" style="margin:0 25%;">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        <%= project.user_name %>
                      </a>
                    </div>
                  </div>
                  <!-- End List of Icons -->
                  <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
                    <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
                  </div>
                </div>
              </div>

              <div class="card-footer text-center">
                <!-- Budget & Priority -->
                <div class="row align-items-center">
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0" style="font-size:0.6rem;">現在</h5>
                    <!--
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                  -->
                    <span class="text-dark" style="font-size:0.8rem;　font-weight:bold;">￥<%= @total_celebraters_price %>円</span>
                  </div>
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0">ご祝儀人</h5>
                      <%= @celebraters_count %>人
                  </div>
                    <!-- End Members List -->
                  <div class="col-4">
                    <h5 class="small font-weight-normal text-secondary mb-0">残り</h5>
                    <span class="text-dark" style="　font-weight:bold;">10日</span>
                  </div>
                </div>
                <!-- End Budget & Priority -->
              </div>
            </div>
            <% end %>
            <!-- End Projects -->
          </div>
        </div>


        <div class="row justify-content-between align-items-center mb-4">
          <!-- Title -->
          <div class="col-sm-4 col-md-6 mb-3 mb-sm-0">
            <h2 class="h6 mb-0">🆕 新着プロジェクト</h2>
          </div>
          <!-- End Title -->
        </div>

        <div class="mb-7">
          <div class="card-deck d-block d-md-flex">
            <% @projects.first(3).each do |project| %>
              <% @celebraters = Celebrater.where(project_id: project.id)  %>
              <% @total_celebraters_price = @celebraters.sum(:return_price) %>
              <% @celebraters_count = @celebraters.count %>

            <!-- Projects -->
            <div class="card mb-5">
              <div class="card-body p-2">
                <div class="text-center">
                  <%= image_tag project.main_image.url, class:"img-fluid rounded" ,style:"" %>
                  <!-- Title -->
                  <div class="mb-4">
                    <h3 class="h5 mb-1"><%= project.title %></h3>
                  </div>
                  <!-- End Title -->

                  <!-- List of Icons -->
                  <div class="row justify-content-between align-items-center mb-3">
                    <div class="col-6" style="margin:0 25%;">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        <%= project.user_name %>
                      </a>
                    </div>
                  </div>
                  <!-- End List of Icons -->
                  <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
                    <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
                  </div>
                </div>
              </div>

              <div class="card-footer text-center">
                <!-- Budget & Priority -->
                <div class="row align-items-center">
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0" style="font-size:0.6rem;">現在</h5>
                    <!--
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                  -->
                    <span class="text-dark" style="font-size:0.8rem;　font-weight:bold;">￥<%= @total_celebraters_price %>円</span>
                  </div>
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0">ご祝儀人</h5>
                      <%= @celebraters_count %>人
                  </div>
                    <!-- End Members List -->
                  <div class="col-4">
                    <h5 class="small font-weight-normal text-secondary mb-0">残り</h5>
                    <span class="text-dark" style="　font-weight:bold;">10日</span>
                  </div>
                </div>
                <!-- End Budget & Priority -->
              </div>
            </div>
            <% end %>
            <!-- End Projects -->
          </div>
        </div>

        <div class="row justify-content-between align-items-center mb-4">
          <!-- Title -->
          <div class="col-sm-4 col-md-6 mb-3 mb-sm-0">
            <h2 class="h6 mb-0">⚠️ 終了間際のプロジェクト</h2>
          </div>
          <!-- End Title -->
        </div>

        <div class="mb-7">
          <div class="card-deck d-block d-md-flex">
            <% @projects.last(3).reverse.each do |project| %>
              <% @celebraters = Celebrater.where(project_id: project.id)  %>
              <% @total_celebraters_price = @celebraters.sum(:return_price) %>
              <% @celebraters_count = @celebraters.count %>

            <!-- Projects -->
            <div class="card mb-5">
              <div class="card-body p-2">
                <div class="text-center">
                  <%= image_tag project.main_image.url, class:"img-fluid rounded" ,style:"" %>
                  <!-- Title -->
                  <div class="mb-4">
                    <h3 class="h5 mb-1"><%= project.title %></h3>
                  </div>
                  <!-- End Title -->

                  <!-- List of Icons -->
                  <div class="row justify-content-between align-items-center mb-3">
                    <div class="col-6" style="margin:0 25%;">
                      <a class="small text-secondary" href="#">
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        <%= project.user_name %>
                      </a>
                    </div>
                  </div>
                  <!-- End List of Icons -->
                  <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
                    <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
                  </div>
                </div>
              </div>

              <div class="card-footer text-center">
                <!-- Budget & Priority -->
                <div class="row align-items-center">
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0" style="font-size:0.6rem;">現在</h5>
                    <!--
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                  -->
                    <span class="text-dark" style="font-size:0.8rem;　font-weight:bold;">￥<%= @total_celebraters_price %>円</span>
                  </div>
                  <div class="col-4 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0">ご祝儀人</h5>
                      <%= @celebraters_count %>人
                  </div>
                    <!-- End Members List -->
                  <div class="col-4">
                    <h5 class="small font-weight-normal text-secondary mb-0">残り</h5>
                    <span class="text-dark" style="　font-weight:bold;">10日</span>
                  </div>
                </div>
                <!-- End Budget & Priority -->
              </div>
            </div>
            <% end %>
            <!-- End Projects -->
          </div>
        </div>

      </div>
    </div>
    <!-- End Content Section -->


  </main>
  <!-- ========== END MAIN CONTENT ========== -->


  <!-- Go to Top -->
  <a class="js-go-to u-go-to" href="#"
    data-position='{"bottom": 15, "right": 15 }'
    data-type="fixed"
    data-offset-top="400"
    data-compensation="#header"
    data-show-effect="slideInUp"
    data-hide-effect="slideOutDown">
    <span class="fa fa-arrow-up u-go-to__inner"></span>
  </a>
  <!-- End Go to Top -->

</body>
</html>
