<% provide(:title, "結婚式のクラウドファンディング - Cultiate") %>
<body>
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main" style="margin-top:0px !important;">
    <!-- firstview Section -->
    <div class="firstview d-flex align-items-center position-relative u-bg-gradient-v1 u-space-4-top u-space-5-top--md u-space-0--lg min-height-100vh--lg">
      <!-- projects -->
      <div class="container mt-9" style="margin-left:0px;">
        <div class="row">
          <h1 class="mb-5 pl-5 font-size-80 mincho" style="color:white; font-weight:200px;">人生最高の瞬間を、<br>最高の仲間とともに</h1>
        </div>
      </div>
      <!-- END projects -->

    </div>
    <!-- End firstview Section -->
    <div class="container" style="margin-top:40px;">
      <h2 class="font-size-48 text-primary text-center p-3 font-weight-bold">pick up</h2>
      
      <div style="" class="js-slick-carousel u-slick u-slick--gutters-1"
             data-infinite="true"
             data-slides-show="1"
             data-slides-scroll="1"
             data-center-mode="true"
             data-center-padding="150px"
             data-arrows-classes="d-none d-lg-inline-block u-slick__arrow-classic u-slick__arrow-centered--y rounded-circle"
             data-arrow-left-classes="fa fa-arrow-left u-slick__arrow-classic-inner u-slick__arrow-classic-inner--left ml-lg-2 ml-xl-4"
             data-arrow-right-classes="fa fa-arrow-right u-slick__arrow-classic-inner u-slick__arrow-classic-inner--right mr-lg-2 mr-xl-4"
             data-responsive='[{
               "breakpoint": 992,
               "settings": {
                 "centerPadding": "120px"
               }
             }, {
               "breakpoint": 768,
               "settings": {
                 "centerPadding": "80px"
               }
             }, {
               "breakpoint": 554,
               "settings": {
                 "centerPadding": "50px"
               }
             }]'
             data-interval="5000">
        <div class="js-slide u-bg-img-hero-center shadow-sm" style="background-image: url(/bg/wedding-bg2.jpg);">
          <div class="bg-gray text-center u-space-4-top text-white">
            <h1 class="u-space-4-top" style="">Hellooooooo</h1>
            <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
              <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 57%;" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">57%</span></div>
            </div>
            <!-- Budget & Priority -->
            <div class="row align-items-center p-4">
              <div class="col-5 u-ver-divider" style="padding:0 10px;">
                <h5 class="small font-weight-normal mb-0" style="font-size:0.8rem;">
                  現在：<span class="" style="font-size:0.8rem;　font-weight:bold;"><%= @total_celebraters_price %>円</span>
                </h5>
                <!--
                <span class="fa fa-arrow-up text-warning font-size-13"></span>
              -->

              </div>
              <div class="col-4 u-ver-divider" style="padding:0 10px;">
                <h5 class="small font-weight-normal mb-0">ご祝儀人：7,000人</h5>
              </div>
                <!-- End Members List -->
              <div class="col-3" style="padding:0 10px;">
                <h5 class="small font-weight-normal mb-0">残り：<span class="" style="　font-weight:bold;">11日</span></h5>
              </div>
            </div>
            <!-- End Budget & Priority -->
          </div>
        </div>
        <div class="js-slide u-bg-img-hero-center" style="background-image: url(/bg/wedding-bg1.png);">
          <div class="bg-gray text-center u-space-4-top text-white">
            <h1 class="u-space-4-top" style="">welcomeeee</h1>
            <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
              <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 57%;" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">57%</span></div>
            </div>
            <!-- Budget & Priority -->
            <div class="row align-items-center p-4">
              <div class="col-5 u-ver-divider" style="padding:0 10px;">
                <h5 class="small font-weight-normal mb-0" style="font-size:0.8rem;">現在：<span class="" style="font-size:0.8rem;　font-weight:bold;">800,000円</span></h5>
                <!--
                <span class="fa fa-arrow-up text-warning font-size-13"></span>
              -->

              </div>
              <div class="col-4 u-ver-divider" style="padding:0 10px;">
                <h5 class="small font-weight-normal mb-0">ご祝儀人：7,000人</h5>
              </div>
                <!-- End Members List -->
              <div class="col-3" style="padding:0 10px;">
                <h5 class="small font-weight-normal mb-0">残り：<span class="" style="　font-weight:bold;">11日</span></h5>
              </div>
            </div>
            <!-- End Budget & Priority -->
          </div>
        </div>
        <div class="js-slide u-bg-img-hero-center" style="background-image: url(/bg/wedding-bg3.jpg);">
          <div class="bg-gray text-center u-space-4-top text-white">
            <h1 class="u-space-4-top" style="">olaaaaaa</h1>
            <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
              <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 57%;" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">57%</span></div>
            </div>
            <!-- Budget & Priority -->
            <div class="row align-items-center p-4">
              <div class="col-5 u-ver-divider" style="padding:0 10px;">
                <h5 class="small font-weight-normal mb-0" style="font-size:0.8rem;">現在：<span class="" style="font-size:0.8rem;　font-weight:bold;">800,000円</span></h5>
                <!--
                <span class="fa fa-arrow-up text-warning font-size-13"></span>
              -->

              </div>
              <div class="col-4 u-ver-divider" style="padding:0 10px;">
                <h5 class="small font-weight-normal mb-0">ご祝儀人：7,000人</h5>
              </div>
                <!-- End Members List -->
              <div class="col-3" style="padding:0 10px;">
                <h5 class="small font-weight-normal mb-0">残り：<span class="" style="　font-weight:bold;">11日</span></h5>
              </div>
            </div>
            <!-- End Budget & Priority -->
          </div>
        </div>
      </div>
        <br>
        <div class="row justify-content-between align-items-center mb-4">
          <!-- Title -->
          <div class="col-sm-4 col-md-6 mb-3 mb-sm-0">
            <h1 class="mb-0 text-primary font-weight-bold"><span><img src="/icon/fire.png" style="width:10%" class="mb-4"></span>Hot</h1>
          </div>
          <!-- End Title -->
        </div>


        <div class="mb-7">
          <div class="card-deck d-block d-md-flex">
            <% @projects.first(4).each do |project| %>
              <% @celebraters = Celebrater.where(project_id: project.id)  %>
              <% @total_celebraters_price = @celebraters.sum(:return_price) %>
              <% @celebraters_count = @celebraters.count %>
              <% today = Date.today %>
              <% @remaining_days = ((project.end_date - today).to_i - 1) %>
              <% @project_user = User.find_by(user_name: project.user_name) %>

            <!-- Projects -->
            <%= link_to project_path(project) do %>
            <div class="top-card mb-5 welcome-project">
              <div class="card-body pb-2">
                <div class="text-center">
                  <%= image_tag project.main_image.url, class:"img-fluid rounded mh-250px",style:"" %>
                  <!-- Title -->
                  <div class="mb-4">
                    <h3 class="mb-1" style="color:#828286;"><%= project.title %></h3>
                  </div>
                  <!-- End Title -->

                    <!-- List of Icons -->
                    <div class="row justify-content-between align-items-center mb-3">
                      <div class="col-6" style="margin:0 25%;">
                        <%= link_to user_path(@project_user), class:"small text-secondary" do%>
                          <span class="fa fa-bookmark text-primary mr-1"></span>
                          <%= project.user_name %>
                          <% end %>
                        </a>
                      </div>
                    </div>
                    <!-- End List of Icons -->
                    <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
                      <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
                    </div>
                  </div>
                </div>

                <div class="top-card-footer text-center">
                  <!-- Budget & Priority -->
                  <div class="row align-items-center">
                    <div class="col-5 u-ver-divider" style="padding:0 10px;">
                      <h5 class="small font-weight-normal text-secondary mb-0" style="font-size:0.6rem;">現在</h5>
                      <!--
                      <span class="fa fa-arrow-up text-warning font-size-13"></span>
                    -->
                      <span class="text-dark" style="font-size:0.8rem;　font-weight:bold;"><%= @total_celebraters_price %>円</span>
                    </div>
                    <div class="col-4 u-ver-divider" style="padding:0 10px;">
                      <h5 class="small font-weight-normal text-secondary mb-0">ご祝儀人</h5>
                        <%= @celebraters_count %>人
                    </div>
                      <!-- End Members List -->
                    <div class="col-3" style="padding:0 10px;">
                      <h5 class="small font-weight-normal text-secondary mb-0">残り</h5>
                      <span class="text-dark" style="　font-weight:bold;"><%= @remaining_days %>日</span>
                    </div>
                  </div>
                  <!-- End Budget & Priority -->
                </div>
              </div>
              <% end %>
            <!-- End Projects -->
            <% end %>
          </div>
        </div>


        <div class="row justify-content-between align-items-center mb-4">
          <!-- Title -->
          <div class="col-sm-4 col-md-6 mb-3 mb-sm-0">
            <h1 class="mb-0 text-primary font-weight-bold"><span><img src="/icon/star.png" style="width:10%" class="mb-4"></span>New</h1>
          </div>
          <!-- End Title -->
        </div>


        <div class="mb-7">
          <div class="card-deck d-block d-md-flex">
            <% @projects.first(4).each do |project| %>
              <% @celebraters = Celebrater.where(project_id: project.id)  %>
              <% @total_celebraters_price = @celebraters.sum(:return_price) %>
              <% @celebraters_count = @celebraters.count %>
              <% today = Date.today %>
              <% @remaining_days = ((project.end_date - today).to_i - 1) %>
              <% @project_user = User.find_by(user_name: project.user_name) %>

            <!-- Projects -->
            <%= link_to project_path(project) do %>
            <div class="top-card mb-5" style="max-width:23%; margin:auto;">
              <div class="card-body pb-2">
                <div class="text-center">
                  <%= image_tag project.main_image.url, class:"img-fluid rounded mh-250px" ,style:"" %>
                  <!-- Title -->
                  <div class="mb-4">
                    <h3 class="mb-1" style="color:#828286;"><%= project.title %></h3>
                  </div>
                  <!-- End Title -->

                  <!-- List of Icons -->
                  <div class="row justify-content-between align-items-center mb-3">
                    <div class="col-6" style="margin:0 25%;">
                      <%= link_to user_path(@project_user), class:"small text-secondary" do%>
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        <%= project.user_name %>
                        <% end %>
                    </div>
                  </div>
                  <!-- End List of Icons -->
                  <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
                    <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
                  </div>
                </div>
              </div>

              <div class="top-card-footer text-center">
                <!-- Budget & Priority -->
                <div class="row align-items-center">
                  <div class="col-5 u-ver-divider" style="padding:0 10px;">
                    <h5 class="small font-weight-normal text-secondary mb-0" style="font-size:0.6rem;">現在</h5>
                    <!--
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                  -->
                    <span class="text-dark" style="font-size:0.8rem;　font-weight:bold;"><%= @total_celebraters_price %>円</span>
                  </div>
                  <div class="col-4 u-ver-divider" style="padding:0 10px;">
                    <h5 class="small font-weight-normal text-secondary mb-0">ご祝儀人</h5>
                      <%= @celebraters_count %>人
                  </div>
                    <!-- End Members List -->
                  <div class="col-3" style="padding:0 10px;">
                    <h5 class="small font-weight-normal text-secondary mb-0">残り</h5>
                    <span class="text-dark" style="　font-weight:bold;"><%= @remaining_days %>日</span>
                  </div>
                </div>
                <!-- End Budget & Priority -->
              </div>
            </div>
            <% end %>
            <!-- End Projects -->
            <% end %>
          </div>
        </div>

        <div class="row justify-content-between align-items-center mb-4">
          <!-- Title -->
          <div class="col-sm-4 col-md-6 mb-3 mb-sm-0">
            <h1 class="mb-0 text-primary font-weight-bold"><span><img src="/icon/sand.png" style="width:10%" class="mb-4"></span>final</h1>
          </div>
          <!-- End Title -->
        </div>

        <div class="mb-7">
          <div class="card-deck d-block d-md-flex">
            <% @projects.last(4).reverse.each do |project| %>
              <% @celebraters = Celebrater.where(project_id: project.id)  %>
              <% @total_celebraters_price = @celebraters.sum(:return_price) %>
              <% @celebraters_count = @celebraters.count %>
              <% today = Date.today %>
              <% @remaining_days = ((project.end_date - today).to_i - 1) %>
              <% @project_user = User.find_by(user_name: project.user_name) %>

            <!-- Projects -->
            <%= link_to project_path(project) do %>
            <div class="top-card mb-5" style="max-width:23%; margin:auto;">
              <div class="card-body pb-2">
                <div class="text-center">
                  <%= image_tag project.main_image.url, class:"img-fluid rounded mh-250px" ,style:"" %>
                  <!-- Title -->
                  <div class="mb-4">
                    <h3 class="mb-1" style="color:#828286;"><%= project.title %></h3>
                  </div>
                  <!-- End Title -->

                  <!-- List of Icons -->
                  <div class="row justify-content-between align-items-center mb-3">
                    <div class="col-6" style="margin:0 25%;">
                      <%= link_to user_path(@project_user), class:"small text-secondary" do%>
                        <span class="fa fa-bookmark text-primary mr-1"></span>
                        <%= project.user_name %>
                        <% end %>
                    </div>
                  </div>
                  <!-- End List of Icons -->
                  <div class="js-hr-progress progress mb-2" style="height: 15px; width: 90%; margin: 0 5%;">
                    <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
                  </div>
                </div>
              </div>

              <div class="top-card-footer text-center">
                <!-- Budget & Priority -->
                <div class="row align-items-center">
                  <div class="col-5 u-ver-divider" style="padding:0 10px;">
                    <h5 class="small font-weight-normal text-secondary mb-0" style="font-size:0.6rem;">現在</h5>
                    <!--
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                  -->
                    <span class="text-dark" style="font-size:0.8rem;　font-weight:bold;"><%= @total_celebraters_price %>円</span>
                  </div>
                  <div class="col-4 u-ver-divider" style="padding:0 10px;">
                    <h5 class="small font-weight-normal text-secondary mb-0">ご祝儀人</h5>
                      <%= @celebraters_count %>人
                  </div>
                    <!-- End Members List -->
                  <div class="col-3" style="padding:0 10px;">
                    <h5 class="small font-weight-normal text-secondary mb-0">残り</h5>
                    <span class="text-dark" style="　font-weight:bold;"><%= @remaining_days %>日</span>
                  </div>
                </div>
                <!-- End Budget & Priority -->
              </div>
            </div>
            <% end %>
            <!-- End Projects -->
            <% end %>
          </div>
        </div>

      </div>
    </div>
    <!-- search Section -->
    <div class="searchview d-flex align-items-center position-relative u-bg-gradient-v1 u-space-4-top u-space-5-top--md u-space-0--lg min-height-600">
      <!-- projects -->
      <div class="container" style="">
        <div class="row w-60" style="margin:auto;">
            <!-- Input -->
            <!-- <form class="js-focus-state input-group input-group-lg u-form u-form--lg u-form--no-brd"> -->
              <%= search_form_for(@search, url:search_path) do |f| %>
                <div class="input-group-append" style="margin:auto;">
                <%= f.search_field :title_cont, placeholder:"search marry", class:"js-focus-state input-group input-group-lg u-form u-form--lg u-form--no-brd" %>
                <%= f.submit "検索", class:"btn btn-primary u-btn-primary" %>
                </div>
              <% end %>
            <!-- </form> -->
            <!-- End Input -->


            <h2 class="mt-2 mincho text-white d-block font-size-48" style="margin:auto;">More SHUKUFUKU search</h2>
        </div>
      </div>
      <!-- END projects -->

    </div>
    <!-- End search Section -->
    </div>
    <!-- End Content Section -->

  </main>
  <!-- ========== END MAIN CONTENT ========== -->
  <script>
  $(document).on('ready', function () {
    // initialization of slick carousel
    $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');
  });


</script>
</body>
</html>
