<%= form_for(@project, url: projects_path) do |f| %>
<body>
  <!-- Skippy -->
  <a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
    <div class="container">
      <span class="u-skiplink-text">Skip to main content</span>
    </div>
  </a>
  <!-- End Skippy -->

  <!-- ========== MAIN ========== -->
  <main id="content" role="main" class="pb-9">
    <%= render 'shared/error_messages', model: @project %>
    <div class="p-3 mb-9">
      <h2 class="w-100 mt-5" style="text-align:center;">確認ページ</h2>
      <div class="tab-pane active">
          <div class="container u-space-2">
            <div class="row">
              <h2 class="w-100">プロジェクト</h2>
              <table border="1">
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">
                    タイトル
                    <span class="bg-danger text-white ml-3 font-size-13 p-1">必須</span>
                  </td>
                  <td class="p-3">
                    <%= f.text_field :title, placeholder: "タイトル", class:"form-control u-form__input" %>
                  </td>
                </tr>
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">
                    メイン画像<span class="bg-danger text-white ml-3 font-size-13 p-1">必須</span>
                  </td>
                  <td class="p-3">
                    <%= f.file_field :main_image, accept: "image/jpg, image/jpeg, image/gif, image/png", class:"form-control u-form__input" %>
                  </td>
                </tr>
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">
                    募集終了日
                    <span class="bg-danger text-white ml-3 font-size-13 p-1">必須</span>
                  </td>
                  <td class="p-3">
                      <%= f.text_field :end_date, class: "", placeholder: "2018-01-01" %>
                      <!-- Datepicker -->
                      <div id="datepickerWrapper" class="u-datepicker input-group u-form">
                        <div class="input-group-prepend u-form__prepend">
                          <span class="input-group-text u-form__text">
                            <span class="fa fa-calendar u-form__text-inner"></span>
                          </span>
                        </div>
                        <input class="js-range-datepicker form-control u-form__input bg-white rounded-right" type="text" placeholder="On" aria-label="On"
                                 data-rp-wrapper="#datepickerWrapper"
                                 data-rp-date-format="Y/m/d">
                      </div>
                      <!-- End Datepicker -->
                  </td>
                </tr>
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">本文<span class="bg-danger text-white ml-3 font-size-13 p-1 ">必須</span></td>
                    <td class="p-3">
                    <div class="u-summernote-editor">
                      <%= f.text_area :content, placeholder: "ご自由にご入力ください。", class:"js-summernote-editor w-100" %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">
                    TOPページへ掲載
                    <span class="bg-danger text-white ml-3 font-size-13 p-1 ">必須</span>
                  </td>
                    <td class="p-3">
                    <div class="u-summernote-editor">
                      <%= f.check_box :display, class:"w-100" %>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      <div class="tab-pane">
          <div class="container u-space-2">
            <div class="row">
              <h2 class="w-100">リターン１</h2>
              <table border="1">
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">リターンタイトル<span class="bg-danger text-white ml-3 font-size-13 p-1">必須</span></td>
                  <td class="p-3">
                    <%= f.text_field :return_title_1, placeholder: "タイトル", class:"form-control u-form__input" %>
                  </td>
                </tr>
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">値段<span class="bg-danger text-white ml-3 font-size-13 p-1">必須</span></td>
                  <td class="p-3">
                    <%= f.text_field :return_price_1, placeholder: "例) 3,000", class:" u-form__input" %>円
                  </td>
                </tr>
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">内容<span class="bg-danger text-white ml-3 font-size-13 p-1 ">必須</span></td>
                    <td class="p-3">
                    <div class="u-summernote-editor">
                      <%= f.text_area :return_content_1, placeholder: "内容", class:"js-summernote-editor" %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">画像<span class="bg-danger text-white ml-3 font-size-13 p-1">必須</span></td>
                  <td class="p-3">
                    <%= f.file_field :return_image_1, accept: "image/jpg, image/jpeg, image/gif, image/png", class:"form-control u-form__input" %>
                  </td>
                </tr>
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">お届け予定<span class="bg-danger text-white ml-3 font-size-13 p-1">必須</span></td>
                  <td class="p-3">
                    <!-- Datepicker -->
                    <div id="datepickerWrapper1" class="u-datepicker input-group u-form">
                      <div class="input-group-prepend u-form__prepend">
                        <span class="input-group-text u-form__text">
                          <span class="fa fa-calendar u-form__text-inner"></span>
                        </span>
                      </div>
                      <input class="js-range-datepicker form-control u-form__input bg-white rounded-right" type="text" placeholder="On" aria-label="On"
                               data-rp-wrapper="#datepickerWrapper1"
                               data-rp-date-format="Y/m/d">
                    </div>
                    <!-- End Datepicker -->
                  </td>
                </tr>
              </table>

              <div class="container ">
                <%= f.submit "保存する", class:"btn btn-sm btn-primary u-btn-primary transition-3d-hover mb-9 mt-9" %>
                <button type="submit" class="btn btn-sm u-btn-secondary--air transition-3d-hover">Cancel</button>
              </div>

              <h2 class="w-100">リターン２</h2>
              <table border="1">
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">リターンタイトル<span class="bg-danger text-white ml-3 font-size-13 p-1">必須</span></td>
                  <td class="p-3">
                    <%= f.text_field :return_title_2, placeholder: "タイトル", class:" " %>
                  </td>
                </tr>
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">値段<span class="bg-danger text-white ml-3 font-size-13 p-1">必須</span></td>
                  <td class="p-3">
                    <%= f.text_field :return_price_2, placeholder: "例)3,000", data: { autonumeric: true }, class:" " %>円
                  </td>
                </tr>
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">内容<span class="bg-danger text-white ml-3 font-size-13 p-1 ">必須</span></td>
                    <td class="p-3">
                    <div class="u-summernote-editor">
                      <div class=" " data-height="160"></div>
                      <%= f.text_area :return_content_2, placeholder: "内容", class:"js-summernote-editor" %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">画像<span class="bg-danger text-white ml-3 font-size-13 p-1">必須</span></td>
                  <td class="p-3">
                    <%= f.file_field :return_image_2, accept: "image/jpg, image/jpeg, image/gif, image/png", class:"form-control u-form__input" %>
                  </td>
                </tr>
                <tr>
                  <td class="u-bg-light-blue-50 text-center p-3">お届け予定<span class="bg-danger text-white ml-3 font-size-13 p-1">必須</span></td>
                  <td class="p-3">
                    <!-- Datepicker -->
                    <div id="datepickerWrapper2" class="u-datepicker input-group u-form">
                      <div class="input-group-prepend u-form__prepend">
                        <span class="input-group-text u-form__text">
                          <span class="fa fa-calendar u-form__text-inner"></span>
                        </span>
                      </div>
                      <input class="js-range-datepicker form-control u-form__input bg-white rounded-right" type="text" placeholder="On" aria-label="On"
                               data-rp-wrapper="#datepickerWrapper2"
                               data-rp-date-format="Y/m/d">
                    </div>
                    <!-- End Datepicker -->
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      <div class="tab-pane">
          <div class="container u-space-2">
            <div class="row">
              <h2 class="w-100">本人確認</h2>

            </div>
          </div>
        </div>
      <!-- Buttons -->
      <div class="container">
        <%= f.submit "作成する", class:"btn btn-sm btn-primary u-btn-primary transition-3d-hover" %>
        <button type="submit" class="btn btn-sm u-btn-secondary--air transition-3d-hover">Cancel</button>
      <% end %>
      </div>    <!-- End Buttons -->
    </div>
    <!-- End Content Section -->
  </main>
  <!-- ========== END MAIN ========== -->


  <!-- Go to Top -->
  <a class="js-go-to u-go-to" href="#"
    data-position='{"bottom": 15, "right": 15 }'
    data-type="fixed"
    data-offset-top="400"
    data-compensation="#header"
    data-show-effect="slideInUp"
    data-hide-effect="slideOutDown">
    <span class="fa fa-arrow-up u-go-to__inner"></span>
  </a>
  <!-- End Go to Top -->
</body>
</html>
