<%= form_for(@project, url: projects_path) do |f| %>
<body>
  <%= render 'shared/error_messages', model: @project %>

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Breadcrumb Section -->
    <div class="bg-primary">
      <div class="container u-space-1-top pb-3">
        <div class="row">
          <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
            <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
              <!-- Breadcrumb -->
              <!-- <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="../home/index.html">Home</a></li>
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="dashboard.html">Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit profile</li> -->
              </ol>
              <!-- End Breadcrumb -->

              <!-- Breadcrumb Nav Toggle Button -->
              <div class="d-lg-none">
                <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
                        aria-label="Toggle navigation"
                        aria-expanded="false"
                        aria-controls="breadcrumbNavBar"
                        data-toggle="collapse"
                        data-target="#breadcrumbNavBar">
                  <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                    <span class="u-hamburger__inner"></span>
                  </span>
                </button>
              </div>
              <!-- End Breadcrumb Nav Toggle Button -->
            </div>
          </div>

          <div class="col-lg-7 order-lg-1">
            <!-- User Info -->
            <div class="media d-block d-sm-flex align-items-sm-center">
              <div class="u-lg-avatar position-relative mb-3 mb-sm-0 mr-3">
                <img class="u-lg-avatar rounded-circle" src="../../assets/img/160x160/img2.jpg" alt="Image Description">
                <span class="u-badge u-badge-border-success u-badge--md u-badge-pos--bottom-right-0 rounded-circle">
                  <span class="fa fa-check"></span>
                </span>
              </div>
              <div class="media-body">
                <h1 class="h3 text-white font-weight-medium mb-1">プロジェクト作成</h1>
                <%= render 'shared/error_messages', model: @project %>
              </div>
            </div>
            <!-- End User Info -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Breadcrumb Section -->

    <!-- Content Section -->
    <div class="u-bg-light-blue-50">
      <div class="container u-space-2">


        <!-- Personal Info Form -->
        <form class="js-validate">
          <div class="row">
            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="js-form-message">
                <%= f.label :title, class: "d-block small text-uppercase font-weight-medium" do %>
                  タイトル
                  <span class="text-danger">*</span>
                <% end %>

                <div class="js-focus-state input-group u-form mb-2">
                  <%= f.text_field :title, placeholder: "タイトル", class:"js-summernote-editor" %>
                </div>
              </div>
            </div>
            <!-- End Input -->

            <!-- Input -->
            <div class="col-sm-6 mb-6">
              <div class="js-form-message">
                <%= f.label :main_image, class: "d-block small text-uppercase font-weight-medium" do %>
                  メイン画像
                  <span class="text-danger">*</span>
                <% end %>

                <div class="js-focus-state input-group u-form mb-2">
                  <%= f.file_field :main_image, accept: "image/jpg, image/jpeg, image/gif, image/png", class:"form-control u-form__input" %>
                </div>
              </div>
            </div>
            <!-- End Input -->
          </div>

          <hr class="mt-1 mb-7">

          <!-- Title -->
          <div class="mb-3">
            <%= f.label :content, class: "d-block small text-uppercase font-weight-medium" do %>
              本文
              <span class="text-danger">*</span>
            <% end %>
          </div>
          <!-- End Title -->

          <div class="mb-6">
            <!-- Text Editor Input -->
            <div class="u-summernote-editor">
              <div  data-height="160">
                <%= f.text_area :content, placeholder: "ご自由にご入力ください。", class:"js-summernote-editor" %>
              </div>
            </div>
            <!-- End Text Editor Input -->
          </div>

          <!-- Buttons -->
          <!-- End Buttons -->
          <hr class="mt-1 mb-7">

          <!-- Title -->
          <div class="mb-3">
            <%= f.label :end_date, class: "d-block small text-uppercase font-weight-medium" do %>
              募集終了日
              <span class="text-danger">*</span>
            <% end %>
          </div>
          <!-- End Title -->

          <div class="mb-6">
            <!-- Text Editor Input -->
            <div class="u-summernote-editor">
              <div  data-height="160">
                <%= f.text_field :end_date, class: "js-summernote-editor", placeholder: "2018-01-01" %>
              </div>
            </div>
            <!-- End Text Editor Input -->
          </div>

          <hr class="my-7">
        </form>
        <!-- End Personal Info Form -->

        <!-- Title -->
        <div class="mb-5">
          <h3 class="h5 mb-1">リターン作成</h3>
        </div>
        <!-- End Title -->
        <div class="mb-5">
          <h2 class="h5 mb-1">リターン 1</h2>
        </div>
        <!-- Social Profiles Form -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message">
              <%= f.label :return_price_1, class: "d-block small text-uppercase font-weight-medium" do %>
                金額
                <span class="text-danger">*</span>
              <% end %>
              <div class="js-focus-state input-group u-form mb-2">
                <%= f.text_field :return_price_1, placeholder: "例)3,000", data: { autonumeric: true }, class:"js-summernote-editor" %>円
              </div>
            </div>
          </div>
          <!-- End Input Group -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message">
              <%= f.label :return_title_1, class: "d-block small text-uppercase font-weight-medium" do %>
                リターンタイトル
                <span class="text-danger">*</span>
              <% end %>
              <div class="js-focus-state input-group u-form mb-2">
                <%= f.text_field :return_title_1, placeholder: "タイトル", class:"js-summernote-editor" %>
              </div>
            </div>
          </div>
          <!-- End Input Group -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message">
              <%= f.label :return_content_1, class: "d-block small text-uppercase font-weight-medium" do %>
                内容
                <span class="text-danger">*</span>
              <% end %>
              <div class="js-focus-state input-group u-form mb-2">
                <%= f.text_area :return_content_1, placeholder: "内容", class:"js-summernote-editor" %>
              </div>
            </div>
          </div>
          <!-- End Input Group -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message">
              <%= f.label :return_image_1, class: "d-block small text-uppercase font-weight-medium" do %>
                画像
                <span class="text-danger">*</span>
              <% end %>

              <div class="js-focus-state input-group u-form mb-2">
                <%= f.file_field :return_image_1, accept: "image/jpg, image/jpeg, image/gif, image/png", class:"form-control u-form__input" %>
              </div>
            </div>
          </div>
          <!-- End Input -->
          <div class="mb-5">
            <h2 class="h5 mb-1">リターン 2</h2>
          </div>
          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message">
              <%= f.label :return_price_2, class: "d-block small text-uppercase font-weight-medium" do %>
                金額
                <span class="text-danger">*</span>
              <% end %>
              <div class="js-focus-state input-group u-form mb-2">
                <%= f.text_field :return_price_2, placeholder: "例)3,000", data: { autonumeric: true }, class:"js-summernote-editor" %>円
              </div>
            </div>
          </div>
          <!-- End Input Group -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message">
              <%= f.label :return_title_2, class: "d-block small text-uppercase font-weight-medium" do %>
                リターンタイトル
                <span class="text-danger">*</span>
              <% end %>
              <div class="js-focus-state input-group u-form mb-2">
                <%= f.text_field :return_title_2, placeholder: "タイトル", class:"js-summernote-editor" %>
              </div>
            </div>
          </div>
          <!-- End Input Group -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message">
              <%= f.label :return_content_2, class: "d-block small text-uppercase font-weight-medium" do %>
                内容
                <span class="text-danger">*</span>
              <% end %>
              <div class="js-focus-state input-group u-form mb-2">
                <%= f.text_area :return_content_2, placeholder: "内容", class:"js-summernote-editor" %>
              </div>
            </div>
          </div>
          <!-- End Input Group -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message">
              <%= f.label :return_image_2, class: "d-block small text-uppercase font-weight-medium" do %>
                画像
                <span class="text-danger">*</span>
              <% end %>

              <div class="js-focus-state input-group u-form mb-2">
                <%= f.file_field :return_image_2, accept: "image/jpg, image/jpeg, image/gif, image/png", class:"form-control u-form__input" %>
              </div>
            </div>
          </div>
          <!-- End Input -->
          <div class="mb-5">
            <h2 class="h5 mb-1">リターン 3</h2>
          </div>
          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message">
              <%= f.label :return_price_3, class: "d-block small text-uppercase font-weight-medium" do %>
                金額
                <span class="text-danger">*</span>
              <% end %>
              <div class="js-focus-state input-group u-form mb-2">
                <%= f.text_field :return_price_3, placeholder: "例)3,000", data: { autonumeric: true }, class:"js-summernote-editor" %>円
              </div>
            </div>
          </div>
          <!-- End Input Group -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message">
              <%= f.label :return_title_3, class: "d-block small text-uppercase font-weight-medium" do %>
                リターンタイトル
                <span class="text-danger">*</span>
              <% end %>
              <div class="js-focus-state input-group u-form mb-2">
                <%= f.text_field :return_title_3, placeholder: "タイトル", class:"js-summernote-editor" %>
              </div>
            </div>
          </div>
          <!-- End Input Group -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message">
              <%= f.label :return_content_3, class: "d-block small text-uppercase font-weight-medium" do %>
                内容
                <span class="text-danger">*</span>
              <% end %>
              <div class="js-focus-state input-group u-form mb-2">
                <%= f.text_area :return_content_3, placeholder: "内容", class:"js-summernote-editor" %>
              </div>
            </div>
          </div>
          <!-- End Input Group -->

          <!-- Input -->
          <div class="col-sm-6 mb-6">
            <div class="js-form-message">
              <%= f.label :return_image_3, class: "d-block small text-uppercase font-weight-medium" do %>
                画像
                <span class="text-danger">*</span>
              <% end %>

              <div class="js-focus-state input-group u-form mb-2">
                <%= f.file_field :return_image_3, accept: "image/jpg, image/jpeg, image/gif, image/png", class:"form-control u-form__input" %>
              </div>
            </div>
          </div>
          <!-- End Input -->

          <%= f.submit "作成する" %>
      <% end %>
        <!-- End Social Profiles Form -->
      </div>
    </div>
    <!-- End Content Section -->
  </main>
  <!-- ========== END MAIN ========== -->


  <!-- Go to Top -->
  <a class="js-go-to u-go-to" href="#"
    data-position='{"bottom": 15, "right": 15 }'
    data-type="fixed"
    data-offset-top="400"
    data-compensation="#header"
    data-show-effect="slideInUp"
    data-hide-effect="slideOutDown">
    <span class="fa fa-arrow-up u-go-to__inner"></span>
  </a>
  <!-- End Go to Top -->
</body>
</html>
