<body>
  <!-- Skippy -->
  <a id="skippy" class="sr-only sr-only-focusable u-skippy" href="#content">
    <div class="container">
      <span class="u-skiplink-text">Skip to main content</span>
    </div>
  </a>
  <!-- End Skippy -->

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Blog Classic Section -->
    <div class="container u-space-4-top u-space-5-top--md u-space-4-top--lg u-space-3-bottom">
      <div class="row mb-9" style="">
        <!-- Title -->
        <h1 class="col-8 text-center font-size-64 mb-9" style="margin:auto;"><%= @project.title %></h1>
        <div class="w-md-70 w-lg-60" style="margin:auto;">
          <div class="col-sm-12">
            <!-- News Classic -->
            <article>
              <div class="image_attach mb-5">
                <%= image_tag @project.main_image.url, class:"img-fluid rounded pr-8" %>
              </div>
              <div class="row">
                <p style=""><span class="pr-2"><img src="/icon/star-a.png" style="width:25px; color:#e67b80;"></span>お気に入りに登録</p>
                <p style="margin-bottom:20px;"><span class="pr-2"><img src="/icon/star-b.png" style="width:25px; color:#e67b80;"></span>登録しました！</p>
                <a class="btn" style="color:white; background:#375899; margin:0 10px;"><img src="/icon/facebook-good.png" class="mr-2" style="width:25px; color:#e67b80;">いいね！ 30</a>
                <a class="btn" style="color:white; background:#54acec; margin:0 10px;"><img src="/icon/twitter-tori.png" class="mr-2" style="width:25px; color:#e67b80;">ツイート</a>
              <div>
            </article>
            <!-- End News Classic -->
          </div>
        </div>
        <div class="w-md-30 w-lg-40" style="margin:auto;">
          <div class="mb-4">
            <p style="margin-bottom: 0px !important;"><span class="pr-2"><img src="/icon/yen.png" style="width:25px"></span>現在の支援総額</p>
            <h2 style="font-weight: bold; font-size: 300%;"><%= @total_celebraters_price %>円</h2>
            <div class="js-hr-progress progress" style="height: 25px;">
              <div class="js-hr-progress-bar progress-bar bg-warning" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"><span class="" style="font-size: 150%;">80%</span></div>
            </div>
          </div>
          <div class="mb-4">
            <p style="margin-bottom: 0px !important;"><span class="pr-2"><img src="/icon/human.png" style="width:25px"></span>ご祝儀人</p>
            <h2 style="font-weight: bold; font-size: 250%;"><%= @celebraters_count %>人</h2>
          </div>
          <div class="mb-4">
            <p style="margin-bottom: 0px !important;"><span class="pr-2"><img src="/icon/watch.png" style="width:25px"></span>残り日数</p>
            <h2 style="font-weight: bold; font-size: 250%;"><%= @remaining_days %>日</h2>
          </div>
        </div>
      </div>
      <!-- End Title -->

      <div class="row">
        <div class="col-lg-7 mb-9 mb-lg-0 mr-9">
          <!-- News Classic -->
          <div class="row">
            <h2><span class="pr-3"><img src="/icon/memo.png" style="width:50px;"></span>プロジェクト内容</h2>
            <div class="col-sm-12 mb-7">
              <!-- News Classic -->
              <article>
                <h1 class="mb-9" style="text-align: center;">
                  <%= @project.content %>
                </h1>
                <div class="mb-5">

                  <img class="img-fluid rounded" src="/projects_show/500280img.jpg" alt="Image Description">
                </div>
                <small class="d-block text-secondary mb-1">March 20, 2018</small>
                <h2 class="h5">
                  <a href="single-article-classic.html">Remote workers, here's how to dodge distractions</a>
                </h2>
                <p>We've been working hard with our besties at Reuters to design a new reading experience for Reuters.com.</p>
              </article>
              <!-- End News Classic -->
            </div>
            <h3 class="text-primary font-weight-bold">プロジェクトをシェアしよう！</h3>
            <div class="row mt-2" style="margin:auto;">
              <%= link_to "#", class:"w-10 mr-2", target: "_blank" do %>
                <%= image_tag "/icon/twitter.png", class:"w-50" %>
              <% end %>
              <%= link_to "#", class:"w-10 mr-2", target: "_blank" do %>
                <%= image_tag "/icon/facebook.png", class:"w-50" %>
              <% end %>
              <%= link_to "#", class:"w-10 mr-2", target: "_blank" do %>
                <%= image_tag "/icon/instagram.png", class:"w-50" %>
              <% end %>
              <%= link_to "#", class:"w-10", target: "_blank" do %>
                <%= image_tag "/icon/line.png", class:"w-50" %>
              <% end %>
            </div>
          </div>
          <!-- End News Classic -->

          <div class="u-space-2-bottom"></div>
        </div>

        <div id="stickyBlockStartPoint" class="col-lg-4">
          <!-- Sticky Block -->
          <div class="card mb-4">
            <div class="card-body text-center">
              <% if current_user.user_image.url == "default.jpg" && current_user.provider == nil %>
                <%= image_tag "/default.jpg", class:"rounded-image mb-4" %>
              <% elsif current_user.provider == "facebook"%>
                <%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?type=large", class:"rounded-image mb-4" %>
              <% else %>
                <%= image_tag current_user.user_image.url, class:"rounded-image mb-4" %>
              <% end %>
              <h2 class=""><%= @project.user_name %></h2>
              <div class="row" style="margin:auto;">
                <%= link_to "#", class:"w-10 ml-9 mr-3", target: "_blank" do %>
                  <%= image_tag "/icon/twitter.png", class:"w-100" %>
                <% end %>
                <%= link_to "#", class:"w-10 ml-4 mr-4", target: "_blank" do %>
                  <%= image_tag "/icon/facebook.png", class:"w-100" %>
                <% end %>
                <%= link_to "#", class:"w-10 ml-3 mr-9", target: "_blank" do %>
                  <%= image_tag "/icon/instagram.png", class:"w-100" %>
                <% end %>
              </div>
              <h5 class="p-2 mt-4">プロフィールを見る</h5>
              <a class="btn btn-lg bg-primary text-white p-2 pl-4 pr-4"><span class="pr-2"><img src="/icon/mail.png" style="width:25px;"></span>メッセージを送る</a>
            </div>
          </div>
          <h2>支援金を選択する</h2>
          <% if @project.return_price_1 %>
          <div class="card mb-4">
            <div class="card-body text-center">
              【<%= @project.return_title_1 %>】

              <%= image_tag @project.return_image_1.url, class:"mb-4 mt-4" %>
              <h2 class=""><%= @project.user_name %></h2>
              <h5 class="p-2 mt-4">テキストテキストテキストテキストテキストテキストテキストテキスト</h5>
              <div class="row">
                <div class="col-6">
                  <h4 class="text-primary" style="margin-top:5%;"><span class="pr-2"><img src="/icon/yen.png" style="width:25px;"></span>
                    <%= @project.return_price_1 %>円
                  </h4>
                </div>
                <div class="col-6">
                  <%= button_to "このリターンを選択する", project_celebrate_path(@project, return_id: 1), method: "get", data: { disable_with: "選択中" }, class:"btn btn-lg bg-primary text-white p-0 pl-4 pr-4" %>
                  <!-- <a class="btn btn-lg bg-primary text-white p-0 pl-4 pr-4"><span class="small">このリターンを<br></span>選択する</a> -->
                </div>
              </div>
            </div>
          </div>
          <% end %>

          <% if @project.return_price_2 %>
          <div class="card mb-4">
            <div class="card-body text-center">
              【<%= @project.return_title_2 %>】

              <%= image_tag @project.return_image_2.url, class:"mb-4 mt-4" %>
              <h2 class=""><%= @project.user_name %></h2>
              <h5 class="p-2 mt-4">テキストテキストテキストテキストテキストテキストテキストテキスト</h5>
              <div class="row">
                <div class="col-6">
                  <h4 class="text-primary" style="margin-top:5%;"><span class="pr-2"><img src="/icon/yen.png" style="width:25px;"></span>
                    <%= @project.return_price_2 %>円
                  </h4>
                </div>
                <div class="col-6">
                  <a class="btn btn-lg bg-primary text-white p-0 pl-4 pr-4"><span class="small">このリターンを<br></span>選択する</a>
                </div>
              </div>
            </div>
          </div>
          <% end %>

          <% if @project.return_price_3 %>
          <div class="card mb-4">
            <div class="card-body text-center">
              【<%= @project.return_title_3 %>】

              <%= image_tag @project.return_image_3.url, class:"mb-4 mt-4" %>
              <h2 class=""><%= @project.user_name %></h2>
              <h5 class="p-2 mt-4">テキストテキストテキストテキストテキストテキストテキストテキスト</h5>
              <div class="row">
                <div class="col-6">
                  <h4 class="text-primary" style="margin-top:5%;"><span class="pr-2"><img src="/icon/yen.png" style="width:25px;"></span>
                    <%= @project.return_price_3 %>円
                  </h4>
                </div>
                <div class="col-6">
                  <a class="btn btn-lg bg-primary text-white p-0 pl-4 pr-4"><span class="small">このリターンを<br></span>選択する</a>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <!-- End Blog Classic Section -->


  </main>
  <!-- ========== END MAIN ========== -->

</body>
</html>
