<hr style="border-color:#e67b80;">
<!-- ========== FOOTER ========== -->
  <footer>
    <!-- Lists -->
    <div class="container u-space-2">
      <div class="row justify-content-md-between">
        <div class="col-sm-4 mb-4 mb-lg-0">
          <h3 class="h6">
            <strong class="text-primary font-size-20">About</strong>
          </h3>

          <!-- List -->
          <ul class="list-unstyled mb-0">
            <li><%= link_to "利用規約", "#", class:"u-list__link" %></a></li>
            <li><%= link_to "プライバシーポリシー", "#", class:"u-list__link" %></a></li>
            <li><%= link_to "特定商取引法に基づく表記", "#", class:"u-list__link" %></a></li>
            <li><%= link_to "会社情報", "#", class:"u-list__link" %></a></li>
            <li><%= link_to "お問い合わせ", "#", class:"u-list__link" %></a></li>
          </ul>
          <!-- End List -->
        </div>

        <div class="col-sm-4 mb-4 mb-lg-0">
          <h3 class="h6">
            <strong class="text-primary font-size-20">Services</strong>
          </h3>

          <!-- List -->
          <ul class="list-unstyled mb-0">
            <li><%= link_to "Shukuhukuとは？", "#", class:"u-list__link" %></a></li>
            <li><%= link_to "協賛企業", "#", class:"u-list__link" %></a></li>
            <li><%= link_to "招待状一覧", "/invitations/new", class:"u-list__link" %></a></li>
          </ul>
          <!-- End List -->
        </div>

        <div class="col-sm-4 mb-4 mb-lg-0">
          <h3 class="h6">
            <strong class="text-primary font-size-20">Account</strong>
          </h3>

          <!-- List -->
          <ul class="list-unstyled mb-0">
            <li><%= link_to "ログアウト", logout_path, method: "delete", class:"u-list__link py-2 px-0" %></li>
            <li><%= link_to "マイページ", "#", class:"u-list__link" %></li>
            <li><%= link_to "プロフィール編集", "#", class:"u-list__link" %></li>
          </ul>
          <!-- End List -->
        </div>
      </div>

        <div class="col-6 mt-9" style="margin:auto;">
          <ul class="list-unstyled mb-0 row">
            <li class="col-3 text-center" style="">
              <%= link_to "#", class:"", target: "_blank" do %>
                <%= image_tag "/icon/twitter.png", class:"icon" %>
              <% end %>
            </li>
            <li class="col-3 text-center">
              <%= link_to "#", class:"", target: "_blank" do %>
                <%= image_tag "/icon/facebook.png", class:"icon" %>
              <% end %>
            </li>
            <li class="col-3 text-center">
              <%= link_to "#", class:"", target: "_blank" do %>
                <%= image_tag "/icon/instagram.png", class:"icon" %>
              <% end %>
            </li>
            <li class="col-3 text-center">
              <%= link_to "#", class:"", target: "_blank" do %>
                <%= image_tag "/icon/line.png", class:"icon" %>
              <% end %>
            </li>
          </ul>
        </div>
    </div>
    <!-- End Lists -->
    <!-- Copyright -->
    <div class="container text-center u-space-1 py-0">
      <!-- Logo -->
      <a class="d-inline-block mb-2" href="index.html" aria-label="Front">
        <img src="/logo/cultiate-logo.png" style="width:120%;" alt="Logo">
      </a>
      <!-- End Logo -->

      <p class="small text-muted">&copy; Cultiate Inc.</p>
    </div>
    <!-- End Copyright -->
  </footer>
  <!-- ========== END FOOTER ========== -->


  <!-- typed.github -->
  <script src="https://cdn.rawgit.com/mattboldt/typed.js/master/lib/typed.min.js"></script>
